.app {
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
  box-shadow: 0px -0.11px 16.9495px rgba(183, 187, 225, 0.33);
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__modal-button {
  font-family: 'Lab Grotesque', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  cursor: pointer;
  padding: 16px 32px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  background: transparent;
  transition: all .3s ease;
}

.app__modal-button:hover {
  background: #FFFFFF;
  color: #000000;
}

.app__modal-button:focus {
  background: #FFFFFF;
  color: #000000;
}

.app__modal-button:active {
  background: #FFFFFF;
  color: #000000;
}

.app__modal-button:disabled {
  background: #BEC5CC;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .app__modal-button {
    padding: 12px 24px;
    font-size: 12px;
    line-height: 1.33;
  }
}
